.room {
  display: block;
  background: linear-gradient(180deg, #fbc8d4 0%, #9795f0 100%);
  min-width: 1400px;
  min-height: 700px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.room-active {
  margin: 0;
  padding: 0;
}
.room-top {
  display: inline-flex;
  width: 100%;
  height: 10vh;
  margin: 0;
}
.room-mid {
  display: inline-flex;
  width: 100%;
  height: 70vh;

  margin: 0;
}
.room-bot {
  display: inline-flex;
  width: 100%;
  height: 20vh;
  position: relative;
  margin: 0;
}
.room-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  /* border: 1px dashed black; */
  /* width: 80%; */
  flex: 1 1 80%;
}
#video-frame {
  position: relative;
  /* z-index: 100; */
}
#video-frame-2 {
  position: absolute;
  z-index: 100000;
}
.video-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0;
  border: 0;
  /* border: 1px dashed black; */
  /* width: 80%; */
  flex: 1 1 80%;
  overflow: hidden;
  font-size: 0;
}

.room-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  /* border: 1px dashed black; */
  /* width: 80%; */
  flex: 1 1 80%;
  overflow: hidden;
  font-size: 60px;
  z-index: 200000;
}
.slide-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  flex: 1 1 80%;
  overflow: hidden;
  font-size: 0;
  /* max-width: 70vw; */
}
/* .slide {
  display: block;
  width: 200px;
} */
.frame-settings {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  flex: 1 1 20%;
  overflow: hidden;
  font-size: 20px;
}
/* RADIO CSS */
frame-type-radio > input[type="radio"] {
}
@keyframes appear {
  0% {
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
  }
  45% {
    transform: translate(-50%, -50%) scale(1.6);
    background-color: #64aedf;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.7);
    background-color: #ad97b3;
  }
  55% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background-color: #ca8489;
  }
}
input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ca8489;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appear 0.8s;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  background-color: transparent;
  position: relative;
  top: -2px; /* 위아래 위치 조정시 여기 조절해주세요*/
}
div.forRadio {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex;
  margin: 20px 0;
}

div.forRadio > label {
}

.frame-search > input {
  width: 100%;
  margin-top: 10px;
}

.slide {
  padding: 10px;
}

.slick-slide {
  padding-right: 30px;
  /* background: black; */
  margin-top: 10x;
}

.slickPrev {
  z-index: 10;
}

#logo {
  width: 10%;
}
