/* 모달을 렌더링하는 전체적인 스타일 */
.set-name-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* 실제 모달 내용을 감싸는 컨테이너 */
.set-name-modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

/* 모달의 타이틀 스타일 */

/* 입력 필드 스타일 */
.set-name-modal-content #nickname {
  padding: 10px;
  border: 1px solid black;
}

/* 버튼 스타일 */

.set-name-modal-content #goLogin {
}

.set-name-modal p {
  margin: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.set-name-modal-content btn {
  margin: 20px auto;
}
