/* 모달을 렌더링하는 전체적인 스타일 */
.set-name-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  /* 실제 모달 내용을 감싸는 컨테이너 */
  .set-name-modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
  }
  
  /* 모달의 타이틀 스타일 */
  .set-name-modal h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  /* 입력 필드 스타일 */
  .set-name-modal input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  /* 버튼 스타일 */
  .set-name-modal button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
  }
  
  .set-name-modal button:last-child {
    margin-right: 0;
  }
  .set-name-modal p {
    margin: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  