@font-face {
  font-family: "Black Han Sans";
  src: url(../public/font/BlackHanSans-Regular.otf);
}
body {
  margin: 0;
  font-family: "Black Han Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blueviolet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  transform: rotate(-0.01deg);
}
