.ModifyWrapper {
  padding: 30px 0;
}

.ModifyBox {
  box-sizing: border-box;
  width: 600px;
  height: 700px;
  flex-shrink: 0;

  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 0 0 15px;
}

.AskPwChangeMessage {
  color: black;
  display: flex;
}

.AskPwChangeMessage p {
  margin: 0 10px;
}

.PwChangeAnswer:hover {
  cursor: pointer;
  color: #ea5455;
}
