.MyPhotoCard {
  width: 260px;
  height: 260px;

  border: #d9d9d9 1px solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
}

.MyPhotoDeleteBtn {
  color: darkgray;
}

.MyPhotoDeleteBtn:hover {
  cursor: pointer;
  color: black;
}

.MyHeart {
  background: url("/src/frame/assets/likes.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 60px;
  width: 60px;
}

.MyHeart.Full {
  background-position: right;
}

.MyPhotoCardImg {
  width: 160px;
  height: 160px;
  object-fit: contain;
}
