.SignUpWrapper {
  padding: 100px 0;
}

.SignUpBox {
  box-sizing: border-box;
  width: 600px;
  height: 1000px;
  flex-shrink: 0;

  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 0 0 15px;
}

.SignBtnInputSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SignUpInputLine {
  border: 1px solid #dadada;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(218, 218, 218, 0.25);
}

.SignUpInputLine.focused {
  border-color: #9795f0;
}

.SignUpCheckBtn {
  box-sizing: border-box;
  width: 130px;
  height: 45px;
  flex-shrink: 0;

  margin: 0 0 5px 10px;
}

.SignUpInputSize {
  width: 100%;
}

.pwcheckmsg {
  text-align: left;
  font-weight: bold;
  color: #ea5455;
}

.SamePassword {
  color: #1acb16;
}

.SignGenderAgeSort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SelectGender input[type="radio"] {
  display: none;
}

.SelectGender input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 110px;
  border: 1px solid #ea5455;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;

  margin: 0;

  background-color: #fff;
  color: #929294;
  box-shadow: 0px 4px 4px 0px rgba(218, 218, 218, 0.25);
}

.SelectGender input[type="radio"]:checked + label {
  background-color: #ea5455;
  color: #fff;
}

.SelectGender input[type="radio"]:nth-child(1) + label {
  border-radius: 10px 0 0 10px;
}

.SelectGender input[type="radio"]:nth-child(3) + label {
  border-radius: 0 10px 10px 0;
}

.AgeSize {
  width: 90%;
}

.InfoInnerBox {
  margin: 10px 0;
  width: 525px;
  height: 170px;
  overflow: auto;

  border-radius: 10px;
  border: 1px solid #dadada;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  text-align: left;
}

.InfoText {
  padding: 0 15px;
}

.InfoText > p {
  color: #929294;
}

.AgreeBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #dadada;
  position: relative;

  accent-color: #ea5455;
}

input#AgreeCheckBtn + label {
  cursor: pointer;
}

label {
  margin: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.SignUpBtn {
  box-sizing: border-box;
  width: 520px;
  height: 50px;
  flex-shrink: 0;
  margin: 20px 0 0;
}

.SignUpBtnSort {
  display: flex;
  justify-content: center;
}
