.UserBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 350px;
  height: 30px;
  border: 0 solid;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;

  font-family: "Black Han Sans";
}

input:focus {
  outline: none;
}

.UserBoxText {
  font-size: 36px;
  margin-top: 3px;
  margin-bottom: 15px;

  font-weight: 500 !important;
}
