|===
|Path|Type|Description|Constraints

{{#fields}}
    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}_{{constraints}}_{{/tableCellContent}}

{{/fields}}
|===