.modalBackdrop {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 100;
}

.DeletePhotoModal {
  /* 모달창 크기 */
  width: 400px;
  height: 300px;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  /*  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 20px;

  /* 스크롤 */
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

  /* backdrop */
  box-shadow: 15px 15px 1px rgb(0, 0, 0, 0.3),
    15px 15px 1px 1px rgba(0, 0, 0, 0.3);
}

.SelectDelete {
  margin: 45px 0;
}

.SelectDelete input[type="radio"] {
  display: none;
}

.SelectDelete input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 120px;
  border: 1px solid #ea5455;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;

  margin: 0;

  background-color: #fff;
  color: #929294;
  box-shadow: 0px 4px 4px 0px rgba(218, 218, 218, 0.25);
}

.SelectDelete input[type="radio"]:checked + label {
  background-color: #ea5455;
  color: #fff;
}

.SelectDelete input[type="radio"]:nth-child(1) + label {
  border-radius: 10px 0 0 10px;
}

.SelectDelete input[type="radio"]:nth-child(3) + label {
  border-radius: 0 10px 10px 0;
}

.DeleteBtnSort {
  display: flex;
  justify-content: space-between;
}

.DeleteBtnSort Button {
  margin: 10px 30px;
}

.DeleteBtnSort Button {
  width: 70px;
  height: 35px;
}

.modal {
  /* 모달창 크기 */
  width: 70%;
  height: 90%;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  /*  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 20px;

  /* 스크롤 */
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* backdrop */
  box-shadow: 15px 15px 1px rgb(0, 0, 0, 0.3),
    15px 15px 1px 1px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.ModalImg {
  object-fit: contain;
  width: 350px;
  height: 350px;
  padding: 10px;
  align-self: center;
}

.ModalLine {
  width: 85%;
}

.ModalContent {
  padding: 10px 7.5%;
  font-size: 25px;
}

.ModalSort {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.modal .Heartcontent {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modal .Heart {
  background: url("/src/photo/assets/likes.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  z-index: inherit;
}

.modal .HeartActive {
  color: #000;
}

.modal .Heart.HeartActive {
  animation: animate 0.1s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.modal .Heart.Full {
  background-position: right;
}

.PhotoLikeNum {
  display: flex;
  justify-content: left;
  color: red;
}

.PhotoTagsSort {
  display: flex;
}

.PhotoTags {
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffd0d0;
  font-size: 20px;
}

.ModalClose {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: darkgrey;
}

.ModalClose:hover {
  color: black;
}

.DeleteBtn {
  width: 70px;
  height: 35px;
}
