.modalBackdrop {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 100;
}

.modal {
  /* 모달창 크기 */
  width: 70%;
  height: 90%;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  /*  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 20px;

  /* 스크롤 */
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* backdrop */
  box-shadow: 15px 15px 1px rgb(0, 0, 0, 0.3),
    15px 15px 1px 1px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.ModalImg {
  object-fit: contain;
  width: 300px;
  height: 300px;
  padding: 10px;
  align-self: center;
}

.ModalLine {
  width: 85%;
}

.ModalContent {
  padding: 10px 7.5%;
  font-size: 20px;
}

.ModalSort {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.PhotoTagsSort {
  display: flex;
}

.PhotoTags {
  margin: 20px 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffd0d0;
}

.ModalClose {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: darkgrey;
}

.ModalClose:hover {
  color: black;
}
