.createSpace {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  justify-content: center;
  min-width: 800px;
  min-height: 600px;
}

.createWrapper {
  padding: 50px 0;
}

.createCanvas {
  /* display: flex;
  align-content: center;
  justify-content: center; */
  border: black 2px solid;
}
