.createSpace {
  height: inherit;
  min-height: 600px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 20px 40px;
  place-items: center;
  justify-content: center;
  justify-items: center;
  padding: 50px 80px;
}

@media (max-width: 1382px) {
  /* 브라우저 사이즈 이하일때*/
  .createSpace {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
}

@media (max-width: 495px) {
  .createSpace {
    width: 100%;
    padding: 50px 0;
    /* margin: 0 auto; */
  }
}
.createWrapper {
  height: inherit;
  width: inherit;
  position: relative;
}

.createCanvas {
  /* display: flex;
  align-content: center;
  justify-content: center; */
  border: black 2px solid;
}
