.frameCard {
  width: 230px;
  height: 230px;
  border: #d9d9d9 1px solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  position: relative;
}

.cardImg:hover {
  animation: imgZoom 2s forwards;
}

@keyframes imgZoom {
  to {
    background-color: white;
    transform: scale(2);
  }
}
@media (max-width: 600px) {
  .frameCard {
    margin: 20px auto;
  }
}

/* 좋아요 */
.heart-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.content {
  padding: 0px;
  display: flex;
  cursor: pointer;
}
.content.heart-active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}
.heart {
  background: url("/src/frame/assets/likes.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
}

.heart.heart-active {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
