/* 툴탭과 툴탭 디테일 정렬 */

* {
    word-break: keep-all;
    /* 드래그 금지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ToolBar {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    position: relative;
    margin: auto 0;

  }



  /* ---------------- 툴탭 ---------------- */
  
  .toolBarTap > li {
    padding: 25px 10px 25px 30px;
    list-style: none;
  
    &.focusedTool {
      background-color: #d9d9d9;
      border-radius: 50px 0 0 50px;
      transition: background-color 0.3s, transform 0.3s;
      background-color: #d9d9d9;
      transform: translateX(10px);
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background-color: #d9d9d9;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translateX(-100%);
        transition: transform 0.3s;
      }
    }
  
    position: relative;
    overflow: hidden;
  }
  
  .detailedToolBar {
    background-color: #d9d9d9;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
    padding-top: 20px;
    overflow-y: auto;
    min-height: 400px;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .toolNotice {
    color: #131111;
    text-shadow: 4px 4px 5px #777777, 8px 8px 5px #ffffff;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-stroke: 0.5px rgb(255, 255, 255);
    margin: 0 auto;
  
    /* padding: 10px 30px; */
  }
  
  .alignCenter {
    margin: 0 auto;
    box-sizing: border-box;
    width: 224px;
    height: 40px;
  }
  
  /* ---------------- Standard Tool CSS  ---------------- */
  
  img.standardImg {
    background-color: transparent;
    margin: 10px;
    display: inline-block;
    margin: 30px auto;
  
    &:hover {
      box-shadow: 5px 7px 7px 5px gray;
    }
  }
  
  div {
    &.standardWrapper {
      display: flex;
      flex-direction: column;
  
      /* justify-content: center; */
      align-content: center;
    }
  
    &.preview {
      background-color: white;
      width: 220px;
      min-height: 220px;
      border-radius: 30px;
      margin: 0 auto 10px auto;
      padding: 10px;
      color: grey;
      font-size: 20px;
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
  
      > div {
        position: absolute;
      }
  
      img {
        width: 120px;
        margin: auto;
        object-fit: contain;
      }
    }
  }
  
  /* input color css */
  
  input[type="color"] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;
  
    &::-webkit-color-swatch, &::-webkit-color-swatch-wrapper {
      border: none;
      border-radius: 50%;
      padding: 0;
    }
  }
  
  /* ---------------- Background Tool CSS  ---------------- */
  /* label  */
  
  .createWrapper {
    label {
      margin: 0px;
      text-align: center;
      display: block;
      font-size: 20px;
      color: grey;
  
      &.forFile {
        background-color: white;
        color: gray;
        font-size: 20px;
        padding: 8px 17px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 30px;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 10px;
        transform-style: preserve-3d;
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
  
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 85%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ffffff;
          border-radius: inherit;
          border: 1px solid black;
          transform: translate3d(0, 0.75em, -1em);
          transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
  
        &:hover {
          transform: translate(0, 0.25em);
  
          &::before {
            transform: translate3d(0, 0.5em, -1em);
          }
        }
  
        &:active {
          transform: translate(0em, 0.75em);
  
          &::before {
            box-shadow: 0 0 0 2px #ffffff, 0 0 #fff;
            transform: translate3d(0, 0, -1em);
          }
        }
      }
    }
  
    input {
      &[type="text"]#text, &[type="number"]#textSize {
        background-color: white;
        color: gray;
        height: 42px;
        font-size: 20px;
        padding: 0px 20px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 30px;
        cursor: pointer;
        width: 240px;
        margin: 20px auto 10px auto;
        box-sizing: border-box;
      }
    }
  }
  
  /* label for file */
  
  /* ---------------- Text Tool CSS  ---------------- */
  /* 디테일 툴바 인풋 css */
  
  #userPw, #userId {
    background-color: white;
    color: gray;
    height: 42px;
    font-size: 20px;
    padding: 0px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    width: 240px;
    margin: 10px auto;
    box-sizing: border-box;
  }
  
  /* 디테일 툴바 select css */
  
  .createWrapper #textFont {
    font-size: 18px;
    width: 240px;
    margin: 10px auto;
    cursor: pointer;
  }
  
  div.detailedToolBar {
    text-align: center;
    align-content: center;
  }
  
  .createWrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  /* ---------------- Drawing Tool CSS  ---------------- */
  
  div.range-wrap {
    box-sizing: border-box;
    width: 240px;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
  
    &:focus {
      outline: none;
    }
  
    &::-webkit-slider-runnable-track {
      height: 15px;
      cursor: pointer;
      animation: 0.2s;
      background: #686868;
      border-radius: 25px;
    }
  
    &::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border: white 2px solid;
      border-radius: 50%;
      background: #fff 0.5;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3px;
  
      /* 동글 포인터 위아래 위치 조정 */
    }
  
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, #fbc8d4 0%, #9795f0 100%);
  
      /* 막대바 색*/
    }
  }
  
  .range-wrap {
    margin: auto;
    width: 290px;
    position: relative;
  }
  
  .range-value {
    position: absolute;
    top: -50%;
  
    span {
      width: 30px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      background: #ee7dc8;
      color: #fff;
      font-size: 18px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 6px;
  
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #ee7dc8;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
      }
    }
  }
  
  #delete-menual, #bg-menual, #object-menual {
    width: 200px;
    font-family: "iceJaram-Rg";
    font-size: 20px;
  }
  
  .tooltip-container {
    position: relative;
  
    .tooltip-content {
      display: none;
      position: absolute;
      top: -100px;
  
      /* Adjust this value to position the tooltip correctly */
      left: 50%;
  
      /* Center the tooltip horizontally */
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
    }
  
    .tooltip-arrow {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: solid transparent;
      border-width: 6px;
      border-top-color: #333;
    }
  
    &:hover .tooltip-content {
      display: block;
    }
  }
  
  /* ---------------- 범용  ---------------- */
  /* BTN */
  
  .btn {
    color: white;
    background: #ea5455;
    border: 1px solid black;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 23px;
  
    /* label for file 과 비솟하도록 함*/
    /* padding: 0 17px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 85%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ea5455;
      border-radius: inherit;
      border: 1px solid black;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  
    &:hover {
      background: #ea5455;
      transform: translate(0, 0.25em);
  
      &::before {
        transform: translate3d(0, 0.5em, -1em);
      }
    }
  
    &:active {
      background: #ea5455;
      transform: translate(0em, 0.75em);
  
      &::before {
        box-shadow: 0 0 0 2px #ea5455, 0 0 #ea5455;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
  
  /* 화이트 버튼 */
  
  .whtbtn {
    color: grey;
    border: 1px solid black;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 23px;
  
    /* label for file 과 비솟하도록 함*/
    /* padding: 0 17px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 85%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      border: 1px solid black;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  
    &:hover {
      transform: translate(0, 0.25em);
  
      &::before {
        transform: translate3d(0, 0.5em, -1em);
      }
    }
  
    &:active {
      transform: translate(0em, 0.75em);
  
      &::before {
        box-shadow: 0 0 0 2px grey, 0 0 grey;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
  
  .alignTwoButtons {
    /* 버튼을 정렬 위한 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 30px;
  }
  

