.frame {
  font-size: 30px;
}

/* 프레임 탭 */
.frameTap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.FrameButton {
  font-family: Black Han Sans;
  font-size: 36px;
  width: 300px;
  height: 80px;
  vertical-align: text-bottom;
  border: #d9d9d9 1px solid;
  border-radius: 30px 30px 0 0;
  background-color: #d9d9d9;
  word-break: keep-all;
}

.focused {
  border: white 1px solid;
  background: white;
}

.displayHide {
  visibility: hidden;
}

.frameSearchTab {
  margin-left: auto;
  flex-shrink: 0;
  padding-left: 10px;
}

.responsiveFrameTab {
  display: none;
}

/* 화면 작아지면 검색바 숨김, 탭 글씨 줄임 */
@media (max-width: 600px) {
  .frameSearchTab {
    display: none;
  }

  .FrameButton {
    font-size: 25px;
  }
}

/* 탭 아래 컨텐츠 영역 */
.frameSpace {
  background-color: white;
  border-radius: 0 30px 30px 30px;
  min-height: 70vh;
}

/* 프레임 페이지 컨텐츠 부분 영역 */
@media (max-width: 600px) {
  .frameSpace {
    border-radius: 0 0 30px 30px;
    font-size: 20px;
  }
}
