.Notice {
  background: linear-gradient(180deg, #fbc8d4 0%, #9795f0 100%);
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
}

.NoticeTable {
  box-sizing: border-box;
  background: #fff;
  width: 65%;
  height: 746px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 15px 50px;
}

.NoticeMenu {
  box-sizing: border-box;
  width: 15%;
  height: 220px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  text-align: center;
  padding: 5px 10px;
}

.Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

hr {
  background: #9795f0;
  height: 1px;
  border: 0;
}

table {
  width: 100%;
  border-top: 3px solid #9795f0;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #9795f0;
  padding: 10px;
  text-align: center;
}

tbody tr:hover {
  background-color: #9795f0;
  color: #fff;
}

tbody tr td:nth-child(2):hover {
  font-weight: bold;
}

.TableCell1 {
  width: 10%;
}

.TableCell2 {
  width: 15%;
}
