.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ea5455;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 2px;
  border-radius: 5px;
}

ul.pagination li a {
  margin: 0 auto;
  text-decoration: none;
  color: #ea5455;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #ea5455;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: white;
}

ul.pagination li:hover {
  color: white;
  background-color: #ea5455;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
