.frameCard {
  width: 230px;
  height: 230px;
  /* margin: 50px 0 0 50px; */
  border: #d9d9d9 1px solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  /* margin: 10px auto 10px 10px; */
  /* margin: 10px auto; */
  /* margin: 40px auto; */
}

.cardImg:hover {
  animation: imgZoom 2s forwards;
}

@keyframes imgZoom {
  from {
  }

  to {
    background-color: white;
    transform: scale(2);
  }
}
@media (max-width: 600px) {
  .frameCard {
    margin: 20px auto;
  }
}
